@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 98%;
    --foreground: 240 24% 10%;

    --card: 240 25% 100%;
    --card-foreground: 240 24% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 24% 10%;

    --primary: 24.6 95% 53.1%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 20% 95%;
    --secondary-foreground: 240 24% 10%;

    --muted: 240 20% 95%;
    --muted-foreground: 240 10% 46%;

    --accent: 240 20% 95%;
    --accent-foreground: 240 24% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 15% 90%;
    --input: 240 15% 90%;
    --ring: 24.6 95% 53.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 246 30% 7%;
    --foreground: 240 20% 92%;

    --card: 246 28% 10%;
    --card-foreground: 240 20% 92%;

    --popover: 246 28% 10%;
    --popover-foreground: 240 20% 92%;

    --primary: 24.6 95% 53.1%;
    --primary-foreground: 0 0% 100%;

    --secondary: 246 25% 15%;
    --secondary-foreground: 240 20% 92%;

    --muted: 246 25% 15%;
    --muted-foreground: 240 12% 60%;

    --accent: 246 25% 15%;
    --accent-foreground: 240 20% 92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 246 25% 16%;
    --input: 246 25% 16%;
    --ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent;
  }
}
